body {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

input {
  border-width: 0;
  border-style: none;
  border-color: none;
  background: transparent;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 10px;
}

button {
  border: none;
  background: transparent;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  position: relative;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  color: #662eed;
}

.weather-app-wrapper {
  margin-top: 50px;
}

.weather-app {
  width: 380px;
  background: linear-gradient(
    150deg,
    rgb(253, 136, 181) 10%,
    rgb(252, 227, 213) 80%
  );
  border: 1px solid rgb(247, 206, 243);
  border-radius: 25px;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

.rule {
  background-color: black;
  size: 1px;
  opacity: 0.25;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  padding: 5px;
}

.date-hour {
  font-size: 14px;
  line-height: 15px;
  font-weight: 400;
  text-align: right;
  position: relative;
  top: 8px;
}

#city {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 200;
  padding: 30px 0 15px;
  margin-bottom: 20px;
  position: relative;
  top: 15px;
}

.weather-icon {
  display: block;
  margin: 0 auto;
}

.day-temp {
  font-size: 90px;
  font-weight: 700;
  position: relative;
  top: 10px;
}

.c-f {
  font-size: 25px;
  font-weight: 300;
  text-align: right;
  position: relative;
  top: 95px;
}

.c-f .active {
  font-weight: 700;
}

.description {
  font-size: 25px;
  font-weight: 300;
}

.description::first-letter {
  text-transform: capitalize;
}

.extra-datas {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.forecast-day {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.forecast-icon {
  position: relative;
  top: 6px;
  margin-top: 0;
  padding: 0;
  display: block;
  margin: 0 auto;
}

.forecast-high-low {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    background: linear-gradient(
      150deg,
      rgb(253, 136, 181) 10%,
      rgb(252, 227, 213) 80%
    );
    height: 100vh;
  }

  div {
    margin: 0px !important;
  }

  input {
    font-size: 18px;
    font-weight: 400;
  }

  img {
    width: 300px !important;
  }

  .col-6 {
    padding: 0px !important;
  }

  .col-3 {
    padding: 0px !important;
  }

  .rule {
    padding: 0;
    margin-right: 0;
  }

  .container {
    height: 100vh;
    overflow-x: hidden;
    padding: 0 20px 0 20px;
  }

  .weather-app {
    border: none;
    background: transparent !important;
  }

  .row {
    padding: 0 !important;
    margin-right: 20px !important;
  }

  .container {
    height: 100vh;
    padding-left: 20px;
  }

  .type-city {
    margin-top: 20px !important;
    margin-right: -40px !important;
    padding-left: 0px;
    margin-left: -20px;
  }

  #date {
    display: none;
  }

  .type-city-input {
    color: white;
  }

  .weather-app {
    padding: 0px;
    margin-left: -12px;
  }

  .weather-app-wrapper {
    padding: 0 !important;
  }

  .date-hour {
    font-size: 16px !important;
    line-height: 18px;
    font-weight: 400;
    text-align: right;
    position: relative;
    top: 8px;
  }

  .city-name {
    font-size: 46px !important;
    padding: 25px 15px 15px 0 !important;
  }

  .weather-icon {
    margin: -30px 52px 0 28px;
  }

  .day-temp {
    margin-top: -70px !important;
    margin-bottom: -35px !important;
    padding: 0px !important;
  }

  .description {
    padding-left: 0px !important;
    font-size: 28px;
  }

  .c-f {
    font-size: 28px;
    font-weight: 300;
    position: relative;
    top: -5px;
  }

  .extra-datas {
    font-size: 16px !important;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
  }

  .forecast-day {
    font-weight: 500;
    margin-top: 10px !important;
  }

  .forecast-icon {
    width: 35px !important;
    padding-bottom: 5px;
  }

  .weather-forecast {
    margin-left: -10px !important;
  }
}
